@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
    background-color: #050101;
    background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
}

code {
    color: #d5bc4e;
    margin-right: 20px;
    font-size: 1.4em;
}

samp {
    color: #c1ae5b;
}

a { text-decoration: none; }

a:hover { color: #f8d568; }

li { list-style: none; margin-top: 5px; font-size: 1.2em;}

b {
    color: rgb(255, 255, 255);
}

p {
    color: #ccc;
    line-height: 28px;
    font-size: 1.25em;
    font-weight: 300;
    margin-bottom: 15px;
    padding: 10px;
}

main {
    margin-top: 15px;
    margin-bottom: 100px;
}

header {
    margin-bottom: 15px;
}

header p {
    font-size: 17px;
    margin: 25px 0;
}

header img {
    max-width: 80%;
    margin: 0 auto;
    display: block;
}

header, section, nav {
    background-color: #1b1b1b;
    border-radius: 20px;
    padding: 10px;
}

section, nav {
    border: 1px solid #363535;
}

nav {
    border: none;
    background: none;
}

h2, h3, h4, a {
    color: #fff;    
}

h2, h3, h4 {
    margin: 15px 0;
    color: #fff;
}

h4 {
    font-size: 1.4em;
    margin: 2em;
    text-align: center;
}

hr {
    width: 80%;
    margin: 3em auto;
}

.image-responsive {
    max-width: 250px;
    height: auto;
    margin: 2em auto;
    display: block;
}

/* hamburger menu */

#menu_toggle {
    opacity: 0;
}
  
#menu_toggle:checked ~ .menu_btn > span {
    transform: rotate(45deg);
}
#menu_toggle:checked ~ .menu_btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu_toggle:checked ~ .menu_btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu_toggle:checked ~ .menu_box {
    visibility: visible;
    top: 0;
    left: 0;
}
  
.menu_btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
  
    width: 26px;
    height: 26px;
  
    cursor: pointer;
    z-index: 1;
}
  
.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: #616161;
  
    transition-duration: .25s;
}
.menu_btn > span::before {
    content: '';
    top: -8px;
}
.menu_btn > span::after {
    content: '';
    top: 8px;
}
  
.menu_box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: -100%;
    left: 0;
  
    width: 100%;
    height: 100%;
  
    margin: 0;
    padding: 75px 20px;
  
    background-color: #202020;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
    transition: all .25s linear;
}

/* end hamburger menu */

nav {
    margin: 10px;
}

nav ul {
    width: 100%;
    margin: 0 auto;
}

section ul {
    margin: 4em 0;
}

nav ul li {
    font-size: 19px;
}

ul li::before {
    content: "\2BC8";
    color: #f8d568;
    margin-right: 10px;
}

ol li::before {
    content: '\276F';
    color: #f8d568;
    margin-right: 10px;
}

.main-content {
    max-width: 700px;
    margin: 10px;
}

h2 {
    font-size: 24px;
    padding: 10px 0;
}

h3 {
    font-size: 26px;
}

h3::before {
    content: '\2BC0';
    margin-right: 10px;
    color: #f8d568;
}

section {
    margin-bottom: 15px;
}

.yellow {
    color: #d5bc4e;
}

.cursive {
    font-style: italic;
}

.submenu {
    margin-left: 20px;
}

#scrollUp {
    padding: 8px;
    font-size: 1.6em;
    color: #f8d568;
    background-color: rgba(255,255,255,0.3);
    outline: none;
    border: none;
    border-radius: 5%;
    position: fixed;
    right: 23px;
    bottom: 23px;
    transition: all .3s linear;
    z-index: 1;
    opacity: 0;
}

#scrollUp:hover {
    background-color: rgba(255,255,255,0.5);
    cursor: pointer;
}

.panel {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
  
.accordion {
    padding: 10px 15px;
    font-size: 26px;
    outline: none;
    border: none;
    background: none;
    color: #c1ae5b;
    text-align: left;
}

.accordion:hover {
    cursor: pointer;
}

/* Media Query */
@media only screen and (min-width: 1200px) {
    nav {
        max-height: max-content;
        position: fixed;
        margin: 20px;
        background-color: #1b1b1b;
        border-radius: 20px;
        border: 1px solid #363535;
        padding: 1.6em;
    }

    nav ul {
        padding: 1em;
    }

    nav ul li {
        font-size: 17px;
    }

    main {
        display: flex;
        margin: 18px;
    }

    .main-content {
        margin-top: 20px;
        margin-left: 30em;
        max-width: 900px;
    }
    
    h2 {
        font-size: 32px;
        text-transform: capitalize;
    }

    .image-responsive {
        max-width: 450px;
    }

    #menu_toggle, .menu_btn {
        display: none;
    }

    .menu_box {
        display: initial;
        position: relative;
        visibility: visible;
        padding: 0;
    }
}