@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: 'Poppins', sans-serif;
}

a { text-decoration: none; }

a:hover { color: #ffd100; }

li { list-style: none; margin-top: 5px; font-size: 1.2em;}

p {
    color: #ccc;
    line-height: 22px;
    font-size: 1.25em;
    font-weight: 300;
    margin-bottom: 15px;
    padding: 10px;
}

main {
    margin-top: 15px;
    margin-bottom: 100px;
}

header {
    margin-bottom: 15px;
}

header p {
    font-size: 16px;
}

header, section, nav {
    background-color: #1b1b1b;
    border: 1px solid #363535;
    border-radius: 20px;
    padding: 15px;
}

h2, h3, h4, a {
    color: #fff;    
}

h2, h3, h4 {
    margin: 15px 0;
}

h4 {
    font-size: large;
}

nav {
    max-height: 584px;
    margin-bottom: 15px;
}

nav ul {
    width: 90%;
    margin: 0 auto;
}

section ul {
    margin: 4em 0;
}

nav ul li {
    font-size: 19px;
}

li::before {
    content: "\2BC8";
    color: #ffd100;
    margin-right: 10px;
}

.main-content {
    max-width: 700px;
}

h2 {
    font-size: 24px;
    padding: 10px 0;
}

h3 {
    font-size: 26px;
}

h3::before {
    content: '\2BC0';
    margin-right: 10px;
    color: #ffd100;
}

section {
    margin-bottom: 15px;
}

.yellow {
    color: #d5bc4e;
}

.cursive {
    font-style: italic;
}

.submenu {
    display: none;
}

/* Media Query */
@media only screen and (min-width: 1200px) {
    nav {
        height: max-content;
        position: fixed;
        margin: 20px;
    }

    main {
        display: flex;
        margin: 58px;
    }

    .main-content {
        margin-top: 20px;
        margin-left: 24em;
        max-width: 900px;
    }
}